
/// COPY COLOR
$white: rgb(255, 255, 255);
$purple: rgb(95, 0, 204);
$bleached-cedar: rgb(45, 35, 56);
$kimberly: rgb(137, 117, 159);
$lily: rgb(190, 157, 171);
$heliotrope: rgb(191, 66, 255);
$electric-violet: rgb(130, 66, 255);
$Water-leaf: rgb(172, 236, 235);


/// VAR FOR ELEMENTS HTML
$body-background: $purple;
$text-color: $white;
$from-background: $bleached-cedar;
$input-border: $kimberly;
$input-background: $bleached-cedar;
$content-border: $kimberly;
$item-border: $lily;